<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/aleja/Documents/CoderHouse/CODERHOUSE-29125" parallel="methods">
        <parameter name="username" value="CoderUser"/>
        <classes>
            <class name="Parametros"/>
            <class name="PruebasEnParalelo"/>
        </classes>
    </test>
</suite>